@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

/*----------------------------------------------------------------------*/

@theme inline {
  /*---------- Font ----------*/
  --font-sans: var(--font-inter);
  --font-serif: var(--font-lora);
  --font-mono: var(--font-inconsolata);
  /*---------- Font ----------*/

  /*---------- Palette ----------*/
  --color-neutral-950: var(--c-neutral-950);
  --color-neutral-900: var(--c-neutral-900);
  --color-neutral-800: var(--c-neutral-800);
  --color-neutral-700: var(--c-neutral-700);
  --color-neutral-500: var(--c-neutral-500);
  --color-neutral-200: var(--c-neutral-200);
  --color-neutral-100: var(--c-neutral-100);
  --color-neutral-0: var(--c-neutral-0);

  --color-purple-600: var(--c-purple-600);
  --color-purple-500: var(--c-purple-500);

  --color-red-500: var(--c-red-500);
  /*---------- Palette ----------*/

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-destructive: var(--destructive);

  /*---------- Border ----------*/
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  /*---------- Border ----------*/

  /*---------- Card ----------*/
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  /*---------- Card ----------*/

  /*---------- Popover ----------*/
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  /*---------- Popover ----------*/

  /*---------- Raduis ----------*/
  --radius-xs: calc(var(--radius) - 6px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 2px);
  --radius-2xl: calc(var(--radius) + 4px);
  --radius-3xl: calc(var(--radius) + 6px);
  --radius-4xl: calc(var(--radius) + 8px);
  /*---------- Raduis ----------*/
}

:root {
  /*---------- Raduis ----------*/
  --radius: 0.625rem;
  /*---------- Raduis ----------*/

  /*---------- Palette ----------*/
  --c-neutral-950: oklch(0 0 0);
  --c-neutral-900: oklch(0.2393 0 0);
  --c-neutral-800: oklch(0.2972 0 0);
  --c-neutral-700: oklch(0.3485 0 0);
  --c-neutral-500: oklch(0.5624 0 0);
  --c-neutral-200: oklch(0.934 0 0);
  --c-neutral-100: oklch(0.9672 0 0);
  --c-neutral-0: oklch(1 0 0);

  --c-purple-600: oklch(0.534 0.2679 302.76);
  --c-purple-500: oklch(0.5971 0.2407 306.13);

  --c-red-500: oklch(0.6786 0.2095 24.66);
  /*---------- Palette ----------*/

  --background: var(--c-neutral-0);
  --foreground: var(--c-neutral-800);

  --primary: var(--c-purple-500);
  --primary-foreground: oklch(0.977 0.014 308.299);

  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: var(--c-red-500);

  /*---------- Border ----------*/
  --ring: oklch(0.708 0 0);
  --input: oklch(0.922 0 0);
  --border: var(--c-neutral-200);
  /*---------- Border ----------*/

  /*---------- Card ----------*/
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  /*---------- Card ----------*/

  /*---------- Popover ----------*/
  --popover: var(--c-neutral-0);
  --popover-foreground: var(--c-neutral-800);
  /*---------- Popover ----------*/
}

.dark {
  --background: var(--c-neutral-950);
  --foreground: var(--c-neutral-0);

  --primary: var(--c-purple-500);
  --primary-foreground: oklch(0.977 0.014 308.299);

  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: var(--c-neutral-500);

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: var(--c-red-500);

  /*---------- Border ----------*/
  --ring: oklch(0.556 0 0);
  --input: oklch(1 0 0 / 15%);
  --border: var(--c-neutral-200);
  /*---------- Border ----------*/

  /*---------- Card ----------*/
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  /*---------- Card ----------*/

  /*---------- Popover ----------*/
  --popover: var(--c-neutral-900);
  --popover-foreground: var(--c-neutral-0);
  /*---------- Popover ----------*/
}

@layer base {

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}